<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
</head>

<body>
    <h1>로그인</h1>
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Invalid id and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-primary" role="alert">
        You have been logged out.
    </div>
    <div>
        <form method="post" th:action="@{/user/login}" th:object="${entity}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="User Id" th:field="*{uid}">
                <label for="uid">아이디</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="User Password" th:field="*{upw}">
                <label for="upw">비밀번호</label>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Login">
            </div>
        </form>
    </div>
</body>
</html>