@charset "UTF-8";
/* 초기화 */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}

html, body{
    max-width: 1900px;
    min-width: 1180px;
    height: 100%;
}
/* 중복 */
.hide{
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
}
.po_absolute{
    position: absolute;
}
.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

.line::before{
    /* li 사이 | 선 표시 */
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: rgba(255, 255, 255, 0.4);
    margin:0 15px;
}

/* 빠른이동 */
.quickMenuNone{
    display: none;
}
.quickMenuFixed{
    position: fixed;
    bottom: 70px;
    right: 10px;
}
.quickMenuAbsolute{
    position: absolute;
    bottom: 115px;
    right: 10px;
}
.quickMenu_1600{
    right: 80px;
}
.quickMenu a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
}
.w1200{
    width: 1180px;
    margin: 0 auto;
    border: 1px solid blue;
}
.border_blue{
    border: 1px solid blue;
}
/* section{
    overflow: hidden;
    width: 0;
    height: 0;
} */


/* slide animate */
.leftslidein{
    animation-duration: 4s;
    animation-name: leftslidein;
    /*animation-delay: 7S;*/
    /*animation-iteration-count: infinite;*/
}
@keyframes leftslidein{
    from{
        margin-left: 0px;

    }
    to{
        margin-left: -100%;
    }
}
.rightslidein{
    animation-duration: 2.5s;
    animation-name: rightslidein;
    /* animation-iteration-count: infinite; */
}
@keyframes rightslidein{
    from{
        margin-left: -100%;
    }
    to{
        margin-left: 0px;
    }
}

.lefttransform{
    transition: 3s;
}
.righttransform{
    transition: 3s;
}