.section{
    width: 1180px;
    min-height: 85%;
    margin: 60px auto 30px;
    border: 1px dotted blue;
}
.section > h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: #BDD61A;
}
.section > div{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.section > div p{
    margin-left: 20px;
    font-size: 22px;
    font-weight: bold;
}
.section > div ul{
    display: flex;
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;

}
.section > div ul li{
    cursor: pointer;
}
.lineb::before{
    height: 15px;
    background-color: black;
}
#listwarp{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 268px);
    justify-content: space-around;
}
#listwarp article{
    margin-bottom: 25px;
}

.menutitle{
    font-size: 20px;
    margin-top: 10px;
}
.menuprice{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
}

.nostar{
    display: inline-block;
    width: 135px;
    height: 25px;
    background: url(/res/img/common/ico_set.png) no-repeat ;
    background-size: 800px 800px;
    background-position: 0px -359px;

}
.star{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/res/img/common/ico_set.png) no-repeat ;
    background-size: 800px 800px;
    background-position: 0px -383px;
    height: 25px;
}