@charset "UTF-8";
.section{
    min-height: 100%;
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.myclick{
    font-weight: 800;
    color: #ffffff;
    background-color: #bfd918;
}
.section article{
    margin-top: 45px;
}

.myinfo_category_list{

}
.myinfo_category_list ul{
    margin-top: 30px;
}
.myinfo_category_list ul li{
    padding: 10px 0 10px 10px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid #000;
}
.myinfo_category_list ul li:hover{
    background-color: #bfd918;
}

.myinfo_view_warp{
    padding: 0 15px;
}
.myinfo_view_list h1{
    font-size: 40px;
    color: #bfd918;
}
.cart_check{
    margin: 15px 0;
    height: 35px;
}
.cart_check div{
    cursor: pointer;
    float: left;
    width: 75px;
    text-align: center;
    line-height: 35px;
}
.line::before{
    background-color: black;
}

.cart_list > ul >li{
    display: grid;
    grid-template-columns: 40px 1fr 4fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-bottom: 10px;
}
.cart_list > ul >li:not(:first-child){
    margin-top: 15px;
}
.cart_list > ul >li:not(:last-child){
    border-bottom: 1px dotted #000;
}
.cart_list_img, .cart_list_gnm, .cart_list_quantity{
    margin-right: 15px;
    font-size: 20px;
}
.cart_list_quant{
    margin: 0 10px;
}

/*회원정보 , 배송지 수정 css*/

.cart_check{}
.cart_check div:nth-of-type(1){}
.cart_check div:nth-of-type(2){
    margin-left: 20px;
}

.display_none{
    display: none;
}
input, select{
    padding: 5px 10px;
    margin-left: 25px;
    width: 365px;
    border: 0;
    font-size: 22px;
    border-bottom: #BDD61A solid 1px;
}
input[type='checkbox']{
    width: 20px;
}
select{
    width: 385px;
}
.birth input{
    width: 170px;
}
.cart_list{
    margin-left: 45px;
}
.cart_list div{
    margin-top: 25px;
}

.cart_list span{
    display: inline-block;
    width: 65px;
    font-size: 18px;
    border-right: 2px dotted #bfd918;
}

.cart_list .info_button{
    margin-top: 45px;
    margin-left: 125px;
    width: 200px;
    height: 45px;
    font-size: 22px;
    line-height: 45px;
    text-align: center;
    background-color: #bfd918;
    cursor: pointer;
}
.info_button:hover{
    font-weight: 800;
}


.addr{
    width: 600px;
}
.detailedaddr{
    margin-top: 25px;
    margin-left: 94px;
}
.addrWarp{
    clear: both;
    margin-top: 25px;
    border-bottom: 1px dotted #000000;
}
.cart_list .deladdr{
    cursor: pointer;
    float: right;
    margin-top: 0;
    margin-right: 75px;
}
.deladdr:hover{
    border-bottom: 3px solid #000000;
}
/*비밀번호 변경*/
.pw_change{}
.pw_change span{
    width: 125px;
}
.pw_change span input{}

.err{
    color: red;
}
.errBorder{
    border-bottom: 1px solid red;
}